.button{
    background: linear-gradient(90deg, rgba(150,46,118,1) 24%, rgba(79,43,167,1) 65%);
    border: 1.5px solid gray;
    color: white;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
}

input::placeholder{
    color: white;
}
.input::placeholder{
    color: gray;
}
textarea::placeholder{
    color: white;
}
input{
    background-color: rgba(255, 255, 255, 0.16);
}
textarea{
    background-color: rgba(255, 255, 255, 0.16);
    resize: none;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    background-color: #141414;
    
    border-radius: 50%;
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(150,46,118,1) 24%, rgba(79,43,167,1) 65%);
    object-fit: cover;
}
.gradient-border {
    width: 362px; /* 350px + 6px border */
    height: 362px;
    border-radius: 50%;
    padding: 6px; /* Acts as the border */
    background: linear-gradient(90deg, rgba(150,46,118,1) 24%, rgba(79,43,167,1) 65%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient-border img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}
.dash-link:hover{
    background-color: #ccc;
}
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #952e75 gray;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: gray;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #952e75;
    border-radius: 6px;
  }
  